/* styles.css */
*{
  margin: 0;padding: 0;
}
.whole{
 margin: 10;
 padding: 10px;
  background-color: #000000;
 
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color:white ;
    
  }
  h1{
    color: #dfdfdf;
    font-size: 60px;
    margin-bottom: 40px;
  }
  
  .planet-card {
    /* background-color: #ff004f; */
    background: linear-gradient(rgba(2, 0, 70, 0.6),#ff004f);
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 6px rgba(80, 80, 80, 0.208);
    transition: transform 0.5s ease;
  }
  
  .planet-card:hover {
    background-color: #9400c2;
    /* transform: translate3d(5px); */
    /* transform: translateY(-10px); */
    transform: scale(1.1);
  }
  
  .residents-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .resident-item {
    margin-bottom: 5px;
  }
  
  .pagination-button {
    
    background-color: #000000;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #169aff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
  }
  
  .pagination-button:hover {
    background: #169aff;
  }


  
